{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">ChatterBot</h1>
</div>

<div class="p-5 lg:p-10 text-left">
    <h2 class="text-xl lg:text-3xl text-white">
        Welcome to ChatterBot. ChatterBot is a friendly messaging app that allows you to join rooms on whatever topic.<br>
    </h2>
    <p class="text-l lg:text-xl text-black">
        No room topic that you like? Enter the admin room and request a room to be made and the admin will create the room for you.<br>
        Don't forget to add extra details in the add extras option up top. Make sure to add them before you visit the profile page.<br>
        If you have not been with us before sign up and welcome to our community!<br>
        If you are with us already welcome back.<br>
        Happy messaging and bon voyage!!!
    </p>
</div>

<div class="p-2 lg:p-4">
    <center>
        <table cellspacing="10" cellpadding="10">
            <tr>
              <td><img src="https://media.tenor.com/GGyzIMKUTeEAAAAM/message-notification.gif" alt="message-gf" width="500" height="500" class="p"></td>
              <td><img src="https://media.tenor.com/mWCA-ijic1IAAAAM/typing-loading.gif" alt="message-loading" width="500" height="500"></td>
            </tr>
          </table>
    </center>
</div>




{% endblock %} 