{% extends 'core/base.html' %}

{% block title %}Welcome {{user.username}} | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Welcome, {{ user.username }}!</h1>
    <br><p class="text-xl lg:text-3xl text-white">Below is your account details, hope you enjoy your experience</p>
</div>



<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left">
        <thead class="text-xs text-black uppercase bg-green-500">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Age
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Bio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b bg-green-700">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                    {{ user.username }}
                </th>
                <td class="px-6 py-4 text-white">
                    {{ profile.age }}
                </td>
                <td class="px-6 py-4 text-white">
                    {{ profile.name }}
                </td>
                <td class="px-6 py-4 text-white">
                    {{ profile.bio }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %} 